*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0b71a3;
    height: 150px;
}
div{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}
h1{
    transition-duration: 0.5ms;
    font-size: 4em;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    text-shadow: 2px 3px 3px #00000048;
}
h1 > a#ino{
    padding: 10px 28px 10px 10px ;
    border-radius: 0px 0px 0px 30px;
    background-color: #f5db18;
    color: #3714DB;
}
h1 > a#watt{
    color: #f5db18;
    padding: 11px 25px 11px 5px;
    margin-left: -24px;
    border-radius: 30px 30px 0px 30px;
    background-color: blue;
}
h1:hover{
    font-size: 4.3em;
    transition-duration: 0.5s;
}
