@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: "Overpass", sans-serif;
}
body{
    background-color: #0b71a3;
}
header{
    background-color: #0b71a3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    color: white;
    border-bottom: 2px solid lightgray;
}
header div{
    display: flex;
    align-items: center;
}
header img{
    margin-right: 20px;
    height: 100px;
}
header h1{
    line-height: 0.5em;
    font-size: 3em;
    color: yellow;
}
header h1 a{
    font-size: 0.4em;
    color: white;
}
header nav li{
    display: inline-block;
    padding: 0px 15px;
}
header nav li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 8px 13px;
}
header nav li a:hover{
    text-decoration: underline;
    color: yellow;
}
main{
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
}
main section#sc1{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}
main section div#texto1{
    max-width: 400px;
}
main section#sc1 form{
    width: 800px;

}
